<!DOCTYPE html>
<html>
<head>
	<title>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<!-- Because Rails loads all of the stylesheets all at once, we need a convention to limit controller-specific rules to pages associated with that controller. Using the controller_name as a class name is an easy way to accomplish that and is what we have done here. -->
<body class="<%= controller.controller_name %>">
	<div id="banner">
		<%= image_tag("logo.png") %>
		<%= @page_title || "Pragmatic Bookshelf" %>
	</div>
	<div id="columns">
		<div id="side"> 
			<ul>
				<li><a href="http://www....">Home</a></li>
				<li><a href="http://www..../faq">Questions</a></li> 
				<li><a href="http://www..../news">News</a></li> 
				<li><a href="http://www..../contact">Contact</a></li>
			</ul> 
		</div>
		<div id="main"> 
			<%= yield %>
		</div>
	</div>
</body>
</html>
